<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SeleniumAPIFramework" parallel="tests"
	thread-count="2" preserve-order="true">
	<test name="WebTests">
		<classes>
			<class name="webtests.UITests"></class>
		</classes>
	</test>
		<test name="APITests">
		<classes>
			<class name="apitests.APITests"></class>
		</classes>
	</test>
</suite>
